In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [2]:
path = r'/Users/kurtson/Desktop/Instacart Basket Analysis'

In [3]:
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged_updated.pkl'))

In [4]:
ords_prods_merge.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,Unnamed: 0,product_name,aisle_id,department_id,prices,busiest_day,Busiest_days,busiest_period_of_day
0,2539329,1,prior,1,2,8,NaN,196,1,0,both,195,Soda,77,7,9.0,Regularly busy,Regular days,Average orders
1,2398795,1,prior,2,3,7,15.0,196,1,1,both,195,Soda,77,7,9.0,Regularly busy,Slowest days,Average orders
2,473747,1,prior,3,3,12,21.0,196,1,1,both,195,Soda,77,7,9.0,Regularly busy,Slowest days,Most orders
3,2254736,1,prior,4,4,7,29.0,196,1,1,both,195,Soda,77,7,9.0,Least busy,Slowest days,Average orders
4,431534,1,prior,5,4,15,28.0,196,1,1,both,195,Soda,77,7,9.0,Least busy,Slowest days,Most orders

In [5]:
ords_prods_merge.shape

(32406041, 19)

In [6]:
# create subset
df = ords_prods_merge[:1000000]

In [7]:
df.shape

(1000000, 19)

In [8]:
df.head(10)

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,Unnamed: 0,product_name,aisle_id,department_id,prices,busiest_day,Busiest_days,busiest_period_of_day
0,2539329,1,prior,1,2,8,NaN,196,1,0,both,195,Soda,77,7,9.0,Regularly busy,Regular days,Average orders
1,2398795,1,prior,2,3,7,15.0,196,1,1,both,195,Soda,77,7,9.0,Regularly busy,Slowest days,Average orders
2,473747,1,prior,3,3,12,21.0,196,1,1,both,195,Soda,77,7,9.0,Regularly busy,Slowest days,Most orders
3,2254736,1,prior,4,4,7,29.0,196,1,1,both,195,Soda,77,7,9.0,Least busy,Slowest days,Average orders
4,431534,1,prior,5,4,15,28.0,196,1,1,both,195,Soda,77,7,9.0,Least busy,Slowest days,Most orders
5,3367565,1,prior,6,2,7,19.0,196,1,1,both,195,Soda,77,7,9.0,Regularly busy,Regular days,Average orders
6,550135,1,prior,7,1,9,20.0,196,1,1,both,195,Soda,77,7,9.0,Regularly busy,Busiest days,Most orders
7,3108588,1,prior,8,1,14,14.0,196,2,1,both,195,Soda,77,7,9.0,Regularly busy,Busiest days,Most orders
8,2295261,1,prior,9,1,16,0.0,196,4,1,both,195,Soda,77,7,9.0,Regularly busy,Busiest days,Most orders
9,2550362,1,prior,10,4,8,30.0,196,1,1,both,195,Soda,77,7,9.0,Least busy,Slowest days,Average orders

# In this Exercise, you learned how to find the aggregated mean of the “order_number” column grouped by “department_id” for a subset of your dataframe. Now, repeat this process for the entire dataframe.

In [10]:
ords_prods_merge.columns

Index(['order_id', 'user_id', 'eval_set', 'order_number', 'order_dow',
       'order_hour_of_day', 'days_since_prior_order', 'product_id',
       'add_to_cart_order', 'reordered', '_merge', 'Unnamed: 0',
       'product_name', 'aisle_id', 'department_id', 'prices', 'busiest_day',
       'Busiest_days', 'busiest_period_of_day'],
      dtype='object')

In [12]:
# Group by 'product_name'
ords_prods_merge.groupby('product_name')

In [14]:
#split data into groups and calculate mean 
ords_prods_merge.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.213779
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.171095
12               15.887671
13               16.583536
14               16.771241
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

# Analyze the result. How do the results for the entire dataframe differ from those of the subset? Include your comments in a markdown cell below the executed code.

#### There is a large level of variability in the subset whereas that is reduced significantly when using the entire dataframe. While the subset only has one major outlier, it skews the results for the whole subset.

# Follow the instructions in the Exercise for creating a loyalty flag for existing customers using the transform() and loc() functions.

In [16]:
#create max_order column
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [17]:
ords_prods_merge.head(15)

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,Unnamed: 0,product_name,aisle_id,department_id,prices,busiest_day,Busiest_days,busiest_period_of_day,max_order
0,2539329,1,prior,1,2,8,NaN,196,1,0,both,195,Soda,77,7,9.0,Regularly busy,Regular days,Average orders,10
1,2398795,1,prior,2,3,7,15.0,196,1,1,both,195,Soda,77,7,9.0,Regularly busy,Slowest days,Average orders,10
2,473747,1,prior,3,3,12,21.0,196,1,1,both,195,Soda,77,7,9.0,Regularly busy,Slowest days,Most orders,10
3,2254736,1,prior,4,4,7,29.0,196,1,1,both,195,Soda,77,7,9.0,Least busy,Slowest days,Average orders,10
4,431534,1,prior,5,4,15,28.0,196,1,1,both,195,Soda,77,7,9.0,Least busy,Slowest days,Most orders,10
5,3367565,1,prior,6,2,7,19.0,196,1,1,both,195,Soda,77,7,9.0,Regularly busy,Regular days,Average orders,10
6,550135,1,prior,7,1,9,20.0,196,1,1,both,195,Soda,77,7,9.0,Regularly busy,Busiest days,Most orders,10
7,3108588,1,prior,8,1,14,14.0,196,2,1,both,195,Soda,77,7,9.0,Regularly busy,Busiest days,Most orders,10
8,2295261,1,prior,9,1,16,0.0,196,4,1,both,195,Soda,77,7,9.0,Regularly busy,Busiest days,Most orders,10
9,2550362,1,prior,10,4,8,30.0,196,1,1,both,195,Soda,77,7,9.0,Least busy,Slowest days,Average orders,10
10,2968173,15,prior,15,1,9,7.0,196,2,0,both,195,Soda,77,7,9.0,Regularly busy,Busiest days,Most orders,22
11,1870022,15,prior,17,2,16,8.0,196,6,1,both,195,Soda,77,7,9.0,Regularly busy,Regular days,Most orders,22
12,1911383,15,prior,18,2,11,7.0,196,1,1,both,195,Soda,77,7,9.0,Regularly busy,Regular days,Most orders,22
13,2715276,15,prior,21,1,9,7.0,196,1,1,both,195,Soda,77,7,9.0,Regularly busy,Busiest days,Most orders,22
14,487368,15,prior,22,1,10,14.0,196,1,1,both,195,Soda,77,7,9.0,Regularly busy,Busiest days,Most orders,22

In [18]:
# create flags using loc()
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [19]:
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [20]:
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [22]:
#Find Frequency
ords_prods_merge['loyalty_flag'].value_counts(dropna=False)

loyalty_flag
Regular customer    15877395
Loyal customer      10284396
New customer         6244250
Name: count, dtype: int64

# The marketing team at Instacart wants to know whether there’s a difference between the spending habits of the three types of customers you identified. Use the loyalty flag you created and check the basic statistics of the product prices for each loyalty category (Loyal Customer, Regular Customer, and New Customer). What you’re trying to determine is whether the prices of products purchased by loyal customers differ from those purchased by regular or new customers.

In [24]:
# group by 'prices'
ords_prods_merge.groupby('prices')

In [26]:
# split data into groups by loyalty flag and generate mean
ords_prods_merge.groupby('loyalty_flag').agg({'prices':['mean']})

                     prices
                       mean
loyalty_flag
Loyal customer    10.386229
New customer      13.294406
Regular customer  12.495501

# The team now wants to target different types of spenders in their marketing campaigns. This can be achieved by looking at the prices of the items people are buying. Create a spending flag for each user based on the average price across all their orders using the following criteria:

### If the mean of the prices of products purchased by a user is lower than 10, then flag them as a “Low spender.”

### If the mean of the prices of products purchased by a user is higher than or equal to 10, then flag them as a “High spender.”

In [27]:
# group by 'user_id' and create 'mean_price'
ords_prods_merge['mean_price'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [28]:
# check
ords_prods_merge.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,product_name,aisle_id,department_id,prices,busiest_day,Busiest_days,busiest_period_of_day,max_order,loyalty_flag,mean_price
0,2539329,1,prior,1,2,8,NaN,196,1,0,...,Soda,77,7,9.0,Regularly busy,Regular days,Average orders,10,New customer,6.367797
1,2398795,1,prior,2,3,7,15.0,196,1,1,...,Soda,77,7,9.0,Regularly busy,Slowest days,Average orders,10,New customer,6.367797
2,473747,1,prior,3,3,12,21.0,196,1,1,...,Soda,77,7,9.0,Regularly busy,Slowest days,Most orders,10,New customer,6.367797
3,2254736,1,prior,4,4,7,29.0,196,1,1,...,Soda,77,7,9.0,Least busy,Slowest days,Average orders,10,New customer,6.367797
4,431534,1,prior,5,4,15,28.0,196,1,1,...,Soda,77,7,9.0,Least busy,Slowest days,Most orders,10,New customer,6.367797

In [29]:
#create flags
ords_prods_merge.loc[ords_prods_merge['mean_price'] < 10, 'spending_flag'] = 'Low spender'

In [30]:
ords_prods_merge.loc[ords_prods_merge['mean_price'] >= 10, 'spending_flag'] = 'High spender'

In [31]:
#check frequency
ords_prods_merge['spending_flag'].value_counts(dropna = False)

spending_flag
Low spender     31771789
High spender      634252
Name: count, dtype: int64

# In order to send relevant notifications to users within the app (for instance, asking users if they want to buy the same item again), the Instacart team wants you to determine frequent versus non-frequent customers. Create an order frequency flag that marks the regularity of a user’s ordering behavior according to the median in the “days_since_prior_order” column. The criteria for the flag should be as follows:
If the median of “days_since_prior_order” is higher than 20, then the customer should be labeled a “Non-frequent customer.”
If the median is higher than 10 and lower than or equal to 20, then the customer should be labeled a “Regular customer.”
If the median is lower than or equal to 10, then the customer should be labeled a “Frequent customer.”

In [32]:
# group by 'user_id' create median_days
ords_prods_merge['median_days'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [33]:
#create flags
ords_prods_merge.loc[ords_prods_merge['median_days'] > 20, 'frequency_flag'] = 'Non-frequent customer'

In [34]:
ords_prods_merge.loc[(ords_prods_merge['median_days'] > 10) & (ords_prods_merge['median_days'] <= 20), 'frequency_flag'] = 'Regular customer'

In [35]:
ords_prods_merge.loc[ords_prods_merge['median_days'] <= 10, 'frequency_flag'] = 'Frequent customer'

In [38]:
# check frequency
ords_prods_merge['frequency_flag'].value_counts(dropna=False)

frequency_flag
Frequent customer        21560324
Regular customer          7209005
Non-frequent customer     3636707
NaN                             5
Name: count, dtype: int64

In [39]:
# Export
ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_aggregated.pkl'))